{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Varžybų sąrašas</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Laikas</th>
                <th>Taškai k1</th>
                <th>Taškai k2</th>
                <th>Id</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('varzybos_show', { 'id': entity.id }) }}">{{ entity.laikas }}</a></td>
                <td>{{ entity.taskaiK1 }}</td>
                <td>{{ entity.taskaiK2 }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('varzybos_show', { 'id': entity.id }) }}">pavaizduoti</a>
                    </li>
                    <li>
                        <a href="{{ path('varzybos_edit', { 'id': entity.id }) }}">redaguoti</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('varzybos_new') }}">
                Sukurti naujas varžybas
            </a>
        </li>
    </ul>
    {% endblock %}
