{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Varzybos</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Laikas</th>
                <td>{{ entity.laikas }}</td>
            </tr>
            <tr>
                <th>Taskaik1</th>
                <td>{{ entity.taskaiK1 }}</td>
            </tr>
            <tr>
                <th>Taskaik2</th>
                <td>{{ entity.taskaiK2 }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('varzybos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('varzybos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
