{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Varžybos</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th align ="left">Laikas</th>
                <td>{{ entity.laikas|date('H:i')}}</td>
            </tr>
            <tr>
                <th align ="left">Taškai k1</th>
                <td>{{ entity.taskaiK1 }}</td>
            </tr>
            <tr>
                <th align ="left">Taškai k2</th>
                <td>{{ entity.taskaiK2 }}</td>
            </tr>
            <tr>
                <th align ="left">Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('varzybos') }}">
            Grįžti į sąrašą
        </a>
    </li>
    <li>
        <a href="{{ path('varzybos_edit', { 'id': entity.id }) }}">
            Redaguoti
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
