{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Įvykis</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th align="left">Pavadinimas</th>
                <td>{{ entity.pavadinimas }}</td>
            </tr>
            <tr>
                <th align="left">Data</th>
                <td>{{ entity.data|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th align="left">Vieta</th>
                <td>{{ entity.vieta }}</td>
            </tr>
            <tr>
                <th align="left">Kategorija</th>
                <td>{{ entity.kategorija }}</td>
            </tr>
            <tr>
                <th align="left">Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ivykis') }}">
            Grįžti į sąrašą
        </a>
    </li>
    <li>
        <a href="{{ path('ivykis_edit', { 'id': entity.id }) }}">
            Redaguoti
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
