{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Komandų sąrašas</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Pavadinimas</th>
                <th>Miestas</th>
                <th>Logotipas</th>
                <th>Šūkis</th>
                <th>Treneris</th>
                <th>Id</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('komandos_show', { 'id': entity.id }) }}">{{ entity.pavadinimas }}</a></td>
                <td>{{ entity.miestas }}</td>
                <td>{{ entity.logotipas }}</td>
                <td>{{ entity.sukis }}</td>
                <td>{{ entity.treneris }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('komandos_show', { 'id': entity.id }) }}">pavaizduoti</a>
                    </li>
                    <li>
                        <a href="{{ path('komandos_edit', { 'id': entity.id }) }}">redaguoti</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('komandos_new') }}">
                Sukurti naują komandą
            </a>
        </li>
    </ul>
    {% endblock %}
