{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Komanda</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th align ="left">Pavadinimas</th>
                <td>{{ entity.pavadinimas }}</td>
            </tr>
            <tr>
                <th align ="left">Miestas</th>
                <td>{{ entity.miestas }}</td>
            </tr>
            <tr>
                <th align ="left">Logotipas</th>
                <td>{{ entity.logotipas }}</td>
            </tr>
            <tr>
                <th align ="left">Šūkis</th>
                <td>{{ entity.sukis }}</td>
            </tr>
            <tr>
                <th align ="left">Treneris</th>
                <td>{{ entity.treneris }}</td>
            </tr>
            <tr>
                <th align ="left">Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('komandos') }}">
            Grįžti į sąrašą
        </a>
    </li>
    <li>
        <a href="{{ path('komandos_edit', { 'id': entity.id }) }}">
            Redaguoti
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
